{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="jumbotron">
	<h1 align='center'>SPINGE <br/> A Mini Moodle Cum Course Registration Portal !!</h1>
</div>

<div class='container' style='padding-top:10px'>
		<h2> All your courses in one place !! Join Spinge Now !! </h2>
	<h3> Spinge lets you - </h3>
	<ol>
		<li>Float courses if you are a professor </li>
		<li>Add regular notes to the course for your students</li>
		<li>Explore all the different courses being floated, if you are a student</li>
		<li>Join all the courses you desire and get started</li>
	</ol>
</div>
{% endblock body %}
