{% extends 'base.html' %}
{% load static %}
{% block body %}



<div class="jumbotron">
	<h1 align='center'>Notes : {{course.name}}</h1>
</div>


<div class='col-md-12'>
{% if notes %}
	{% for note in notes %}
    {% if check == 1 %}
	<h3 class="page-header">
		<a href="{% url 'spinge:add_note' course.id %}?id={{note.id}}">{{note.label}}</a>
	</h3>
    {% else %}
    <h3 class="page-header">
		{{note.label}}
	</h3>
    {% endif %}
	<p>{{note.body|linebreaks}}</p>
	<p align="right">{{note.timestamp}}</p>
	{% endfor %}
{% else %}
	<div class='alert alert-warning' align='center'>
		<h3>No Notes Yet!</h3>
	</div>
{% endif %}
</div>


{% endblock body %}